:root {
    --color-background: #faead8;
    --color-primary: #b48663;
    --color-accent: #b19274;
    --color-text: #202020;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}