/* Shared Stylez */

:root {
    --color-background: #faead8;
    --color-primary: #b48663;
    --color-accent: #b19274;
    --color-text: #202020;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: Arial, Arial, Helvetica, sans-serif;
}

header, footer {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 10px;
}

footer p {
    font-weight: 400;
}

h1,h2 {
    color: var(--color-primary);
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: var(--color-accent);
}

.bakery-logo {
    width: 200px;
    height: 200px;
    margin-top: 6px;
}

nav {
    width: 100%;
    align-items: center;
}

ul {
    align-items: center;
    justify-content: center;
    margin:0;
    display: flex;
    list-style: none;
    flex-direction: column;
}

a:hover {
    color:#0c0b0a;
    opacity: 1;
}

li {
    margin: 20px;
}

.primary-content {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.primary-content p {
    margin-top: 5px;
}

.primary-content img {
    width: 600px;
    height: 600px;
}

figcaption {
    font-style: italic;
}

/* Product Page */

.product-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
}

.product-content p {
    margin-top: 5px;
}

.product-content img {
    width: 600px;
    height: 600px;
}

.product-info div {
    padding-top: 40px;
}


/* Media Queries */

@media (min-width: 768px) {
    ul {
        flex-direction: row;
    }
}